<ng-container *ngIf="players">
  <div class="position-title">
    <!-- https://css-tricks.com/line-on-sides-headers/ -->
    <h3><span>Goalkeepers</span></h3>
    <section>
      <div *ngFor="let player of players | filterByPosition: 'GK'">
        <app-player-card [player]="player"></app-player-card>
      </div>
    </section>
  </div>
  <div class="position-title">
    <h3><span>Defenders</span></h3>
    <section>
      <div *ngFor="let player of players | filterByPosition: 'DEF'">
        <app-player-card [player]="player"></app-player-card>
      </div>
    </section>
  </div>
  <div class="position-title">
    <h3><span>Midfielders</span></h3>
    <section>
      <div *ngFor="let player of players | filterByPosition: 'MID'">
        <app-player-card [player]="player"></app-player-card>
      </div>
    </section>
  </div>
  <div class="position-title">
    <h3><span>Attackers</span></h3>
    <section>
      <div *ngFor="let player of players | filterByPosition: 'ATT'">
        <app-player-card [player]="player"></app-player-card>
      </div>
    </section>
  </div>
</ng-container>
