@use '../../../../sass/_variables' as var

h3 
  font-family: var.$secondary-font-family
  font-size: 36px
  line-height: 42px
  width: 100%
  text-align: center
  border-bottom: 1px solid #000
  line-height: 0.1em
  margin: 10px 0 20px

h3 span 
  background:#fff
  padding:0 10px

section
  display: flex
  flex-wrap: wrap
  justify-content: center

.position-title
  font-family: var.$secondary-font-family
  font-size: 36px
  line-height: 42px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  margin-top: 2rem
