<!-- <ng-container *ngIf="players">
    <table class="players-table zigzag">
        <thead>
            <tr>
                <th>ShirtNumber</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let player of players">
                <td>{{ player.shirtNumber }}</td>
                <td>{{ player.firstName }}</td>
                <td>{{ player.lastName }}</td>
                <td>{{ player.position }}</td>
            </tr>
        </tbody>
    </table>
</ng-container> -->

<ng-container *ngIf="players">
    <div class="position-title" >
        <!-- https://css-tricks.com/line-on-sides-headers/ -->
        <!-- <hr> -->
        <span>Goalkeepers</span>
        <!-- <hr> -->
        <!-- <section class="player-section"> -->
            <section>
            <div class="player-card-left"><span>77</span><span>POS</span></div>
            <div class="player-card-right"><span>FirstName</span><span>LastName</span></div>
        </section>
    </div>
    <div class="position-title" >
        <span>Defenders</span>
    </div>
    <div class="position-title" >
        <span>Midfielders</span>
    </div>
    <div class="position-title" >
        <span>Attackers</span>
    </div>
</ng-container>