.nav
    display: flex
    list-style-type: none
    justify-content: center

.nav li a
    border: 1px solid red
    padding: 0 1rem

    &:hover
        background-color: gray

.active-link
    background-color: pink