.nav
    display: flex
    justify-content: center

.nav a
    padding: 0.2rem 1.5rem
    text-decoration: none

    + a
        border-left: 2px solid red

    &:hover
        background-color: gray

.nav-links
    border: 2px solid red
    border-radius: 15px

.active-link
    background-color: pink