<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="GoalKeeperDB"
         connectionString="Data Source=.;Initial Catalog=GoalKeeperDB;User Id=sqladmin;Password=txCnJqOynDfQaEbHpgNJ;Application Name=GoalKeeper.Database"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>