$anderlecht-primary-rgba: rgba(81, 46, 143, 0.75)
$antwerp-primary-rgba: rgba(223, 23, 43, 0.75)
$cercle-brugge-primary-rgba: rgba(0, 159, 69, 0.75)
$charleroi-primary-rgba: rgba(0, 0, 0, 0.75)
$club-brugge-primary-rgba: rgba(0, 120, 191, 0.75)
$eupen-primary-rgba: rgba(0, 0, 0, 0.75)
$genk-primary-rgba: rgba(0, 120, 191, 0.75)
$gent-primary-rgba: rgba(0, 71, 148, 0.75)
$kortrijk-primary-rgba: rgba(201, 32, 38, 0.75)
$mechelen-primary-rgba: rgba(227, 34, 25, 0.75)
$oostende-primary-rgba: rgba(228, 7, 20, 0.75)
$stvv-primary-rgba: rgba(245, 209, 40, 0.75)
$standard-de-liege-primary-rgba: rgba(255, 17, 0, 0.75)
$zulte-waregem-primary-rgba: rgba(211, 2, 64 , 0.75)
$union-primary-rgba: rgba(11, 45, 80, 0.75)
$seraing-primary-rgba: rgba(222, 18, 33, 0.75)
$oud-heverlee-leuven-primary-rgba: rgba(255, 255, 255, 0.75)
$beerschot-primary-rgba: rgba(84, 54, 124, 0.75)

$anderlecht-secondary-rgba: rgba(255, 255, 255, 1)
$antwerp-secondary-rgba: rgba(255, 255, 255, 1)
$cercle-brugge-secondary-rgba: rgba(0, 0, 0, 1)
$charleroi-secondary-rgba: rgba(255, 255, 255, 1)
$club-brugge-secondary-rgba: rgba(0, 0, 0, 1)
$eupen-secondary-rgba: rgba(255, 255, 255, 1)
$genk-secondary-rgba: rgba(255, 255, 255, 1)
$gent-secondary-rgba: rgba(255, 255, 255, 1)
$kortrijk-secondary-rgba: rgba(255, 255, 255, 1)
$mechelen-secondary-rgba: rgba(255, 229, 0, 1)
$oostende-secondary-rgba: rgba(67, 159, 58, 1)
$stvv-secondary-rgba: rgba(0, 96, 173, 1)
$standard-de-liege-secondary-rgba: rgba(255, 255, 255, 1)
$zulte-waregem-secondary-rgba: rgba(0, 136, 59, 1)
$union-secondary-rgba: rgba(255, 216, 0, 1)
$seraing-secondary-rgba: rgba(0, 0, 0, 1)
$oud-heverlee-leuven-secondary-rgba: rgba(33, 167, 55, 1)
$beerschot-secondary-rgba: rgba(255, 255, 255, 1)

$anderlecht-stadium: '/assets/images/stadiums/anderlecht.jpg'
$antwerp-stadium: '/assets/images/stadiums/antwerp.jpg'
$beerschot-stadium: '/assets/images/stadiums/beerschot.jpg'
$charleroi-stadium: '/assets/images/stadiums/charleroi.jpg'
$brugge-stadium: '/assets/images/stadiums/brugge.jpg'
$eupen-stadium: '/assets/images/stadiums/eupen.jpg'
$genk-stadium: '/assets/images/stadiums/genk.jpg'
$gent-stadium: '/assets/images/stadiums/gent.jpg'
$kortrijk-stadium: '/assets/images/stadiums/kortrijk.jpg'
$mechelen-stadium: '/assets/images/stadiums/mechelen.jpg'
$oud-heverlee-leuven-stadium: '/assets/images/stadiums/ohl.jpg'
$oostende-stadium: '/assets/images/stadiums/oostende.jpg'
$seraing-stadium: '/assets/images/stadiums/seraing.jpg'
$standard-stadium: '/assets/images/stadiums/standard.jpg'
$stvv-stadium: '/assets/images/stadiums/stvv.jpg'
$union-stadium: '/assets/images/stadiums/union.jpg'
$zulte-waregem-stadium: '/assets/images/stadiums/zulte-waregem.jpg'