/* https://www.w3schools.com/react/react_sass.asp */
/* https://css-tricks.com/react-code-style-guide/ */
/* https://css-tricks.com/learning-react-container-components/ */

table {
    /* border-spacing: 5rem; */
    border-collapse: collapse;
    background-color: lightgray;
}

td, th {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: left;
}

tbody tr:hover {
    background-color: lightgray;
}

#ranking {
    display: block;
    /* background-color: red; */
}

/* Container */
/* 
.container {
    margin: 0 auto;
    max-width: calc(100% - 4rem);
    width: 35rem;
    background-color: white;
}

@media screen and (max-width: 980px) {
    .container {
        width: 80% !important;
        max-width: 100% !important;
    }
}

@media screen and (max-width: 480px) {
    .container {
        width: 100% !important;
    }
} */
