.flex
    display: flex
    // justify-content: space-around
    justify-content: center
    align-items: center

.border
    border: 1px solid red

span 
    padding: 0px 5px
    // background-color: blue

div
    font-size: 1.5rem        

// span:second
//     background-color: blue

.away
    align-self: flex-end
    // text-align: right