.dashboard-title
    font-family: 'Permanent Marker', Charcoal, sans-serif
    text-align: center
    size: 36px
    
.dashboard-overview
    display: flex

.main-content
    // border: 1px solid red
    flex-grow: 2
    padding: 1rem

.side-content
    // border: 1px solid red
    border-left: 1px solid gray 
    flex-grow: 1
    padding: 1rem
