<div class="box">
    <h1 class="title">Ranking</h1>
    <table class="ranking-table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Team</th>
                <th>Points</th>
            </tr>
        </thead>
        <tbody *ngIf="ranking as ranking" >
            <tr *ngFor="let team of ranking.teamRankings">
                <td>{{ team.teamId }}</td>
                <td class="team" [routerLink]="['/team', team.teamId]">
                    <img class="logo" src='{{ "assets/images/logos/" + team.teamName + ".svg" }}' />
                    <span>{{ team.teamName }}</span>
                </td>
                <td>{{ team.points}}</td>
            </tr>
        </tbody>
    </table>
</div>