<div *ngIf="team" class="team" >
    <h1 class="team-name" >{{ team.name }}</h1>
        <div [ngClass]="getTeamBackground(team.name)" >
        <img class="logo" src='{{ "assets/images/logos/" + team.name + ".svg" }}' />
        <div class="right-content" >
            <div></div>
            <div class="team-form" >
                <span class="form-span">Form guide:</span>
                <span class="form-streak win">W</span>
                <span class="form-streak draw">D</span>
                <span class="form-streak win">W</span>
                <span class="form-streak loss">L</span>
            </div>
            <span class="stadium-name">{{ mockStadiumName }}</span>
        </div>
    </div>
</div>
