// @import 'styles'
// @import '../../../../sass/_variables'
// @use 'styles'
// @use '../../../../styles'
// @use '~/s'
// @use '_variables'
// @use 'src/app/sass/_variables'
@use '../../../../sass/_variables' as var

$antwerp-rgba: rgba(223, 23, 43, 0.75)
$antwerp-stadium: '/assets/images/stadiums/antwerp.jpg'
$anderlecht-stadium: 'https://www.rsca.be/sites/rsca/files/2019-10/Lotto%20Park_0.jpg'
    
// .stadium
//     display: block
//     width: 40%
//     margin-left: auto
//     margin-right: auto
//     padding: 1rem
//     border-width: 5px
//     border-style: solid
//     border-image: linear-gradient(to bottom, red, rgba(0,0,0,0)) 1 100%

.team
    // font-family: 'Permanent Marker', Charcoal, sans-serif
    // font-family: $primary-font-family
    font-family: var.$primary-font-family
    // font-family: _variables.$primary-font-family

.team-name
    text-align: center

.logo
    height: 70%
    padding-left: 2rem

    // https://css-tricks.com/tinted-images-multiple-backgrounds/
.team-background
    height: 260px
    width: 100%
    margin-bottom: 40px
    background: linear-gradient($antwerp-rgba, $antwerp-rgba), url($antwerp-stadium) no-repeat center center
    background-size: 100% 200%

    display: flex
    justify-content: space-between
    align-items: center

.right-content
    display: flex
    flex-direction: column
    padding-right: 1rem
    height: 100%
    justify-content: space-between

.team-form
    font-family: var.$secondary-font-family
    height: 88px
    width: 352px
    background: white
    border: 2px solid #FF0000
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0rem 1rem

.stadium-name
    color: white
    align-self: flex-end

.form-span
    font-weight: bold
    font-size: 16px

.form-streak
    font-weight: bold
    font-size: 36px

.win
    color: green

.loss
    color: red
