// @import 'styles'
// @import '../../../../sass/_variables'
// @use 'styles'
// @use '../../../../styles'
// @use '~/s'
// @use '_variables'
// @use 'src/app/sass/_variables'
@use '../../../../sass/_variables' as var
@use '../../../../sass/_teamvariables' as teamvar

@mixin background($rgba, $stadium)
    background: linear-gradient($rgba, $rgba), url($stadium) no-repeat center center
    background-size: 100% 200%
  
.team
    font-family: var.$primary-font-family

.team-name
    text-align: center

.logo
    height: 70%
    padding-left: 2rem

.team-background
    height: 260px
    width: 100%
    margin-bottom: 40px

    display: flex
    justify-content: space-between
    align-items: center

    &.antwerp
        @include background(teamvar.$antwerp-primary-rgba, teamvar.$antwerp-stadium)

    &.anderlecht
        @include background(teamvar.$anderlecht-primary-rgba, teamvar.$anderlecht-stadium)

    &.beerschot
        @include background(teamvar.$beerschot-primary-rgba, teamvar.$beerschot-stadium)

    &.cercle-brugge
        @include background(teamvar.$cercle-brugge-primary-rgba, teamvar.$brugge-stadium)

    &.charleroi
        @include background(teamvar.$charleroi-primary-rgba, teamvar.$charleroi-stadium)

    &.club-brugge
        @include background(teamvar.$club-brugge-primary-rgba, teamvar.$brugge-stadium)

    &.eupen
        @include background(teamvar.$eupen-primary-rgba, teamvar.$eupen-stadium)

    &.genk
        @include background(teamvar.$genk-primary-rgba, teamvar.$genk-stadium)

    &.gent
        @include background(teamvar.$gent-primary-rgba, teamvar.$gent-stadium)

    &.kortrijk
        @include background(teamvar.$kortrijk-primary-rgba, teamvar.$kortrijk-stadium)

    &.mechelen
        @include background(teamvar.$mechelen-primary-rgba, teamvar.$mechelen-stadium)

    &.ohl
        @include background(teamvar.$oud-heverlee-leuven-primary-rgba, teamvar.$oud-heverlee-leuven-stadium)

    &.oostende
        @include background(teamvar.$oostende-primary-rgba, teamvar.$oostende-stadium)

    &.seraing
        @include background(teamvar.$seraing-primary-rgba, teamvar.$seraing-stadium)

    &.standard
        @include background(teamvar.$standard-de-liege-primary-rgba, teamvar.$standard-stadium)

    &.stvv
        @include background(teamvar.$stvv-primary-rgba, teamvar.$stvv-stadium)

    &.union
        @include background(teamvar.$union-primary-rgba, teamvar.$union-stadium)

    &.zulte-waregem
        @include background(teamvar.$zulte-waregem-primary-rgba, teamvar.$zulte-waregem-stadium)

.right-content
    display: flex
    flex-direction: column
    padding-right: 1rem
    height: 100%
    justify-content: space-between

.team-form
    font-family: var.$secondary-font-family
    height: 88px
    width: 352px
    background: white
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0rem 1rem

    &.antwerp
        border: 2px solid teamvar.$antwerp-secondary-rgba

    &.anderlecht
        border: 2px solid teamvar.$anderlecht-secondary-rgba

    &.beerschot
        border: 2px solid teamvar.$beerschot-secondary-rgba

    &.cercle-brugge
        border: 2px solid teamvar.$cercle-brugge-secondary-rgba

    &.charleroi
        border: 2px solid teamvar.$charleroi-secondary-rgba

    &.club-brugge
        border: 2px solid teamvar.$club-brugge-secondary-rgba

    &.eupen
        border: 2px solid teamvar.$eupen-secondary-rgba

    &.genk
        border: 2px solid teamvar.$genk-secondary-rgba

    &.gent
        border: 2px solid teamvar.$gent-secondary-rgba

    &.kortrijk
        border: 2px solid teamvar.$kortrijk-secondary-rgba

    &.mechelen
        border: 2px solid teamvar.$mechelen-secondary-rgba

    &.ohl
        border: 2px solid teamvar.$oud-heverlee-leuven-secondary-rgba

    &.oostende
        border: 2px solid teamvar.$oostende-secondary-rgba

    &.seraing
        border: 2px solid teamvar.$seraing-secondary-rgba

    &.standard
        border: 2px solid teamvar.$standard-de-liege-secondary-rgba

    &.stvv
        border: 2px solid teamvar.$stvv-secondary-rgba

    &.union
        border: 2px solid teamvar.$union-secondary-rgba

    &.zulte-waregem
        border: 2px solid teamvar.$zulte-waregem-secondary-rgba

.stadium-name
    color: white
    align-self: flex-end

.form-span
    font-weight: bold
    font-size: 16px

.form-streak
    font-weight: bold
    font-size: 36px

.win
    color: green

.loss
    color: red
