footer
    font-family: 'Lato', Charcoal, sans-serif

    position: fixed
    bottom: 0px
    width: 100%

    // background-color: pink

    display: flex
    align-items: center
    justify-content: center

    // color: white
