.logo
    font-family: Impact, Charcoal, sans-serif
    color: black
    text-decoration: underline
    padding-left: 1rem

.logo:hover
    color: gray
    cursor: pointer
    // transform: scale(1.2)

// .logo::before


    // https://codepen.io/gilmeromore/pen/NWqRMdV
// .grass-border
//     border: 5px double orange
//     border-image: url('../../assets/grass-border.svg') 25% repeat

.grass-border
    background-color: white
    border: 5px solid transparent
    // padding: 15px
    // border: 15px solid red
    // border-color: pink
    // border-style: double
    // border-width: 25 30 10 20
    // border-image: url('../../assets/test.jpg') 25% repeat
    border-image: url('../../assets/test-2.jpg') 10% repeat
    background-clip: padding-box
    // border-radius: 15px
    // border-radius: 5rem
    // border-radius: 2rem
    // opacity: 0.4
//     border: 10px solid transparent;
//   padding: 15px;
//   border-image: url(border.png) 20% round;