<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <!--<add name="GoalKeeperDB"
         connectionString="Data Source=.;Initial Catalog=GoalKeeperDB;User Id=sqladmin;Password=txCnJqOynDfQaEbHpgNV;Application Name=GoalKeeper.Database"
         providerName="System.Data.SqlClient" />
    <add name="GoalKeeperDB"
         connectionString="Data Source=.;Initial Catalog=GoalKeeperDB;User Id=GoalKeeper_Local;Password=DNIlusR4qBI6kZM3P8my;Application Name=GoalKeeper.Database"
         providerName="System.Data.SqlClient" />-->
    <add name="GoalKeeperDB"
         connectionString="Data Source=.;Initial Catalog=GoalKeeperDB;User Id=sqladmin;Password=txCnJqOynDfQaEbHpgNV;Application Name=GoalKeeper.Database"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>