<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="GoalKeeperDB"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GoalKeeper;User Id=sqladmin;Password=txCnJqOynDfQaEbHpgNV;Application Name=Stamdata.Database"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>