/* You can add global styles to this file, and also import other style files */
html, body 
    font-family: Arial, Helvetica, sans-serif
    height: 100%
    // background: url('./assets/background-grass-lawn-green.jpg') no-repeat center center fixed
    // background-size: cover 
//   -webkit-background-size: cover
//   -moz-background-size: cover
//   -o-background-size: cover

body
    display: flex
    flex-direction: column
    // justify-content: space-between

/* https://www.smashingmagazine.com/2019/09/creating-tables-in-figma/ */